@import "./components/header.scss";
@import "./components/main.scss";

@mixin flex-just-align($dspl, $align, $just) {
  display: $dspl;
  align-items: $align;
  justify-content: $just;
}

$color: #087df9;

%foot-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
  &:hover {
    color: #0099ff;
    transform: translateX(10px);
  }
}

%number {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}




.icon-antenna-1,
.icon-clock-1,
.icon-diagram-1,
.icon-astronaut-1 {
  font-size: 330%;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  @include flex-just-align(flex, center, center);
}

.icon-antenna-1 {
  padding: 25px 120px;
  margin: 0 0 30px 0;
}

.icon-clock-1 {
  padding: 25px 120px;
  margin: 0 0 30px 0;
}

.icon-diagram-1 {
  padding: 30px 120px;
  margin: 0 0 30px 0;
}

.icon-astronaut-1 {
  padding: 30px 120px;
  margin: 0 0 30px 0;
}

.details__content {
  @include flex-just-align(flex, flex-start, space-around);
  margin-top: 64px;
}

.details__title {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  margin-bottom: 10px;
}

.details__text {
  display: flex;
  flex-wrap: wrap;
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  margin: 0 0 30px 0;
}

.profession {
  padding: 21px;
  @include flex-just-align(flex, center, center);
}





@keyframes gradienSlide {
  25% {
    background-color: #087df9;
  }
  50% {
    background-color: #056fe0;
  }
  75% {
    background-color: #025cbd;
  }
  100% {
    background-color: #044f9e;
  }
}



.profession__content {
  padding: 21px;
  @include flex-just-align(flex, center, center);
}

.profession__content-photo-text1 {
  @include flex-just-align(flex, center, center);
  position: relative;
}

.image {
  padding-left: 20px;
}

.profession__text {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  @include flex-just-align(flex, center, center);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text1:hover .profession__text {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.profession__content-photo-text2 {
  @include flex-just-align(flex, center, center);
  position: relative;
}

.profession__text2 {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  @include flex-just-align(flex, center, center);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text2 p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text2:hover .profession__text2 {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.profession__content-photo-text3 {
  @include flex-just-align(flex, center, center);
  position: relative;
}

.profession__text3 {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  @include flex-just-align(flex, center, center);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text3 p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text3:hover .profession__text3 {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.team__title {
  font-family: Roboto;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  font-size: 36px;
  text-align: center;
}

.team__content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__card {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
  @include flex-just-align(flex, center, center);
  flex-direction: column;
  background-color: #f5f4fa;
  padding: 0 0 24px 0;
}

.team__group-text {
  @include flex-just-align(flex, center, center);
  flex-direction: column;
  gap: 10px;
  margin: 23px;
}

.team__text {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.team__text--gray {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.team__social {
  @include flex-just-align(flex, center, center);
  gap: 5px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
  &:hover {
    animation: lineargradient 1s linear both;
    fill: #fff;
  }
}

@keyframes lineargradient {
  from {
    background-color: #0066ff;
  }
  to {
    background-color: #00cc99;
  }
}

.profession__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: Roboto;
}

li {
  display: flex;
}

.customers__title {
  @include flex-just-align(flex, center, space-around);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.clientage {
  @include flex-just-align(flex, center, space-evenly);
  margin: 45px 0px;
}

.clientage__compani--gray {
  @extend %number;
  @include flex-just-align(flex, center, center);
  &:hover {
    animation: linearGradient 2s linear both;
  }
}

@keyframes linearGradient {
  from {
    fill: #0099ff;
    border: 2px solid #0099ff;
  }
  to {
    fill: #ff0066;
    border: 2px solid #ff0066;
  }
}

.social {
  transition: transform 0.6s linear;
  &:hover {
    transform: scale(1.1);
  }
}

.footer__social-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socia {
  fill: rgba(255, 255, 255, 0.1);
  &:hover {
    fill: #087df9;
  }
}

.col_f {
  fill: white;
}

.footer__subscription-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  @include flex-just-align(flex, center, space-evenly);
  &:hover {
    animation: slideGradient 5s linear both;
  }
}

@keyframes slideGradient {
  25% {
    background: #ff0000;
  }
  50% {
    background: #ff7f00;
  }
  75% {
    background: #ffff00;
  }
  80% {
    background: #00ff00;
  }
  90% {
    background: #0000ff;
  }
  100% {
    background: #4b0082;
  }
}

.box-text {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}



.no-scroll {
  overflow: hidden;
}








.text_inpu_after {
  margin-bottom: 15px;
}











.footer {
  @include flex-just-align(flex, center, center);
  background: #2f303a;
  padding: 60px 0;
  gap: 67px;
}

.footer__content {
  @include flex-just-align(flex, center, center);
  background: #2f303a;
  gap: 67px;
}

.footer__text--white {
  @extend %foot-text;
  color: #fff;
}

.footer__text--gray {
  @extend %foot-text;
  color: rgba(255, 255, 255, 0.6);
}

.footer__societal {
  @include flex-just-align(flex, center, center);
  gap: 5px;
}

.footer__subscription-content {
  @include flex-just-align(flex, center, center);
  gap: 10px;
}

.footer__subscription-title {
  margin-bottom: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navigation--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item a {
    &:hover::after {
      bottom: -45px;
    }
  }
  .details__content {
    flex-wrap: wrap;
  }
  .details__text {
    width: 306px;
  }
  .profession {
    display: none;
  }
  .team__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team__card {
    margin: 0 0 30px 0;
  }
  .photo {
    width: 354px;
    height: 374px;
  }
  .clientage {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__social,
  .footer__subscription,
  .footer__subscription-content {
    @include flex-just-align(flex, center, center);
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .nav__list,
  .navigation--right {
    display: none;
  }
  .main__title {
    font-size: 26px;
    line-height: 42px;
  }
  .main__buton {
    padding: 10px 24px;
  }
  .details__text{
    width: 402px;
  }
  .photo {
    width: 450px;
    height: 460px;
  }
}
