@import "./components/header";
@import "./components/main";
@import "./components/main-modal";
@import "./components/details";
@import "./components/profession";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@keyframes gradienSlide {
  25% {
    background-color: #087df9;
  }
  50% {
    background-color: #056fe0;
  }
  75% {
    background-color: #025cbd;
  }
  100% {
    background-color: #044f9e;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navigation--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item a {
    &:hover::after {
      bottom: -45px;
    }
  }
  .details__content {
    flex-wrap: wrap;
  }
  .details__text {
    width: 306px;
  }
  .profession {
    display: none;
  }
  .team__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team__card {
    margin: 0 0 30px 0;
  }
  .photo {
    width: 354px;
    height: 374px;
  }
  .clientage {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__social,
  .footer__subscription,
  .footer__subscription-content {
    @include flex-just-align(flex, center, center);
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .nav__list,
  .navigation--right {
    display: none;
  }
  .main__title {
    font-size: 26px;
    line-height: 42px;
  }
  .main__buton {
    padding: 10px 24px;
  }
  .details__text {
    width: 402px;
  }
  .photo {
    width: 450px;
    height: 460px;
  }
}
