@charset "UTF-8";
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 32px 0;
  gap: 70px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.item_i {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  text-indent: 50px;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}
.nav__item:hover {
  color: #087df9;
}

.nav__item a {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.nav__item a:hover::after {
  position: absolute;
  left: 43px;
  display: block;
  content: "";
  width: 64%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -34px;
}

.navigation--right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.address__right-email {
  text-decoration: none;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
}
.address__right-email:hover {
  color: #087df9;
  fill: #087df9;
}

.mel {
  width: 15px;
  height: 15px;
}
.mel:hover {
  fill: #087df9;
  color: #087df9;
}

.address__right-number {
  text-decoration: none;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
}
.address__right-number:hover {
  color: #087df9;
  fill: #087df9;
}

.tep {
  width: 17px;
  height: 15px;
}
.tep:hover {
  fill: #087df9;
}

.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

a {
  text-decoration: none;
  color: #1f373d;
}

.nav2 {
  display: none;
}

/* nav-menu */
nav {
  flex-grow: 3;
}

.nav_menu,
.sites {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=checkbox]:nth-child(2), .label {
  display: none;
}

/* mobile menu */
@media (max-width: 480px) {
  .header__nav {
    padding: 16px 0;
  }
  nav {
    order: 1;
  }
  .nav2 {
    display: flex;
    gap: 150px;
  }
  .nav {
    display: none;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .nav_menu {
    display: none;
  }
  input[type=checkbox]:checked ~ .nav_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input[type=checkbox]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type=checkbox]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type=checkbox]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav_menu {
    position: absolute;
    z-index: 1;
    top: 51px;
    left: 0;
    width: 79%;
    padding: 0 40px 0 40px;
    background: #fff;
    z-index: 10;
  }
  .nav_menu li {
    margin: 15px 0;
  }
  .nav_menu_link {
    color: #212121;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .nav_menu_link:hover {
    color: #087df9;
  }
  .navigation--right2 {
    display: none;
  }
  input[type=checkbox]:checked ~ .navigation--right2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation--right2 {
    position: absolute;
    z-index: 1;
    top: 57%;
    left: 0;
    width: 79%;
    padding: 0 40px 0 40px;
    padding-top: 100px;
    background: #fff;
    z-index: 10;
  }
  .navigation--right2 address {
    margin: 15px 0;
  }
  .address2:nth-child(1) {
    order: 1;
  }
  .address__right-email2 {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    order: 1;
  }
  .address__right-number2 {
    color: #2196f3;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .social-programs {
    display: none;
  }
  input[type=checkbox]:checked ~ .social-programs {
    display: flex;
    align-items: flex-start;
  }
  .social-programs {
    position: absolute;
    z-index: 1;
    top: 103%;
    left: 0;
    width: 79%;
    padding: 0 40px 0 40px;
    background: #fff;
    box-shadow: 0 12px 8px #dddddd;
    z-index: 10;
  }
  .sites {
    gap: 10px;
  }
  .sites li {
    margin: 15px 0;
  }
  .social_link {
    color: #2196f3;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
}
@media (max-width: 375px) {
  .navigation--right2 {
    top: 40%;
  }
  .social-programs {
    top: 73%;
  }
}
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.main {
  margin: 0 0 94px 0;
}

.main__content {
  height: 500px;
  background-image: url(../photo/first_back.png);
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 100px;
}

.main__title {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-text-fill-color: rgb(253, 253, 253);
  margin-left: auto;
  margin-right: auto;
  width: 13em;
  height: 120px;
}

.main__buton {
  background-color: #087df9;
  -webkit-text-fill-color: rgb(253, 253, 253);
  margin: auto;
  padding: 10px 32px;
  top: 440px;
  left: 724px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  display: block;
  border: none;
}
.main__buton:hover {
  animation: gradienSlide 3s both;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main.main__content {
    background-image: url("../photo/first_back@2x.png");
  }
}
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal__btn {
  fill: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  stroke-width: 1px;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #188ce8;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  width: 448px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #212121;
}

input[type=name],
label {
  display: block;
}

.form__dictates-name,
.form__dictates-telephon,
.form__dictates-email,
.form__dictates-comentar {
  margin: 15px;
}

.form__search-name {
  border: 1px solid #b4b1b1;
  background-image: url(../svv/person-black-18dp\ 1.svg);
  background-repeat: no-repeat;
  padding-left: 20px;
}
.form__search-name:focus, .form__search-name:focus-visible {
  background-image: url(../svv/person-black-18dp\ 1\ —\ copy.svg);
  border: none;
  outline: 2px solid #188ce8;
}

.form__search-telephon {
  background-image: url(../svv/phone-black-18dp\ 1.svg);
  border: 1px solid #b4b1b1;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.form__search-telephon:focus, .form__search-telephon:focus-visible {
  background-image: url(../svv/phone-black-18dp\ 1\ —\ copy.svg);
  border: none;
  outline: 2px solid #188ce8;
}

.form__search-email {
  background-image: url(../svv/email-black-18dp\ 1.svg);
  border: 1px solid #b4b1b1;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.form__search-email:focus, .form__search-email:focus-visible {
  background-image: url(../svv/email-black-18dp\ 1\ —\ copy.svg);
  border: none;
  outline: 2px solid #188ce8;
}

.form__search-comentar {
  border: 1px solid #b4b1b1;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.form__search-comentar:focus, .form__search-comentar:focus-visible {
  border: none;
  outline: 2px solid #188ce8;
}

.modal__sub_text {
  text-align: center;
}

.modal__privacy-policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__privacy-policy-text {
  color: #757575;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-left: 8px;
}

.modal__privacy-policy-text_link {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal__button-send {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .modal {
    width: 400px;
    height: 610px;
  }
  label {
    height: auto;
    width: auto;
  }
}
@media (max-width: 375px) {
  .modal {
    width: 320px;
    height: 581px;
    left: 45%;
  }
}
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.details__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 64px;
}

.icon-antenna-1,
.icon-clock-1,
.icon-diagram-1,
.icon-astronaut-1 {
  font-size: 330%;
  border-radius: 4px;
  background: rgb(245, 244, 250);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-antenna-1 {
  padding: 25px 120px;
  margin: 0 0 30px 0;
}

.details__title {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  margin-bottom: 10px;
}

.details__text {
  display: flex;
  flex-wrap: wrap;
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  margin: 0 0 30px 0;
}

.icon-clock-1 {
  padding: 25px 120px;
  margin: 0 0 30px 0;
}

.icon-diagram-1 {
  padding: 30px 120px;
  margin: 0 0 30px 0;
}

.icon-astronaut-1 {
  padding: 30px 120px;
  margin: 0 0 30px 0;
}

.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.profession {
  padding: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profession__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: Roboto;
}

.profession__content {
  padding: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profession__content-photo-text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  padding-left: 20px;
}

.profession__text {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text1:hover .profession__text {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.profession__content-photo-text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profession__text2 {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text2 p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text2:hover .profession__text2 {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.profession__content-photo-text3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profession__text3 {
  position: absolute;
  top: 88%;
  left: 53%;
  width: 88%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.profession__text3 p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.profession__content-photo-text3:hover .profession__text3 {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.team__title {
  font-family: Roboto;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  font-size: 36px;
  text-align: center;
}

.team__content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__card {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f4fa;
  padding: 0 0 24px 0;
}

.team__group-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 23px;
}

.team__text {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.team__text--gray {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
}
.team__social-link:hover {
  animation: lineargradient 1s linear both;
  fill: #fff;
}

@keyframes lineargradient {
  from {
    background-color: #0066ff;
  }
  to {
    background-color: #00cc99;
  }
}
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.customers__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.clientage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 45px 0px;
}

.clientage__compani--gray {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clientage__compani--gray:hover {
  animation: linearGradient 2s linear both;
}

@keyframes linearGradient {
  from {
    fill: #0099ff;
    border: 2px solid #0099ff;
  }
  to {
    fill: #ff0066;
    border: 2px solid #ff0066;
  }
}
.footer__text--gray, .footer__text--white {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
}
.footer__text--gray:hover, .footer__text--white:hover {
  color: #0099ff;
  transform: translateX(10px);
}

.clientage__compani--gray {
  fill: #afb1b8;
  width: 117px;
  height: 39px;
  border: 2px solid #d3cccc;
  padding: 21px;
  margin-bottom: 30px;
  border-radius: 17px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f303a;
  padding: 60px 0;
  gap: 67px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f303a;
  gap: 67px;
}

.footer__text--white {
  color: #fff;
}

.footer__text--gray {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__societal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.social {
  transition: transform 0.6s linear;
}
.social:hover {
  transform: scale(1.1);
}

.socia {
  fill: rgba(255, 255, 255, 0.1);
}
.socia:hover {
  fill: #087df9;
}

.col_f {
  fill: white;
}

.footer__subscription-title {
  margin-bottom: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__subscription-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box-text {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer__subscription-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__subscription-button:hover {
  animation: slideGradient 5s linear both;
}

@keyframes slideGradient {
  25% {
    background: #ff0000;
  }
  50% {
    background: #ff7f00;
  }
  75% {
    background: #ffff00;
  }
  80% {
    background: #00ff00;
  }
  90% {
    background: #0000ff;
  }
  100% {
    background: #4b0082;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@keyframes gradienSlide {
  25% {
    background-color: #087df9;
  }
  50% {
    background-color: #056fe0;
  }
  75% {
    background-color: #025cbd;
  }
  100% {
    background-color: #044f9e;
  }
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navigation--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item a:hover::after {
    bottom: -45px;
  }
  .details__content {
    flex-wrap: wrap;
  }
  .details__text {
    width: 306px;
  }
  .profession {
    display: none;
  }
  .team__content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team__card {
    margin: 0 0 30px 0;
  }
  .photo {
    width: 354px;
    height: 374px;
  }
  .clientage {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__social,
  .footer__subscription,
  .footer__subscription-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .nav__list,
  .navigation--right {
    display: none;
  }
  .main__title {
    font-size: 26px;
    line-height: 42px;
  }
  .main__buton {
    padding: 10px 24px;
  }
  .details__text {
    width: 402px;
  }
  .photo {
    width: 450px;
    height: 460px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 350px;
  }
  .details__text {
    width: 320px;
  }
  .photo {
    width: 320px;
    height: 310px;
  }
  .clientage {
    gap: 10px;
  }
  .box-text {
    width: 320px;
  }
}/*# sourceMappingURL=slyles.css.map */