@import "./components/header";
@import "./components/main2";
@import "./components/footer";

@mixin flex-just-align($dspl, $align, $just) {
  display: $dspl;
  align-items: $align;
  justify-content: $just;
}

%foot-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
  &:hover {
    color: #0099ff;
    transform: translateX(10px);
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navigation--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item a {
    &:hover::after {
      bottom: -55px;
    }
  }
  .main-web {
    justify-content: flex-start;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__social,
  .footer__subscription,
  .footer__subscription-content {
    @include flex-just-align(flex, center, center);
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .nav__list,
  .navigation--right {
    display: none;
  }
  .main__title {
    font-size: 26px;
    line-height: 42px;
  }
  .main__buton {
    padding: 10px 24px;
  }
  .main__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
  }
}
