@mixin flex-just-align($dspl, $align, $just) {
  display: $dspl;
  align-items: $align;
  justify-content: $just;
}

%foot-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition: transform 1s linear;
  &:hover {
    color: #0099ff;
    transform: translateX(10px);
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__nav {
  @include flex-just-align(flex, center, space-around);
  padding: 15px 0;
  gap: 70px;
}

.nav {
  @include flex-just-align(flex, center, space-around);
  gap: 40px;
}

.nav__list {
  @include flex-just-align(flex, center, space-around);
  margin: 0 auto;
  text-indent: 50px;
}

.item_i {
  @include flex-just-align(flex, center, space-around);
  text-decoration: none;
  color: black;
}

.nav__item {
  @include flex-just-align(flex, center, space-around);
  text-decoration: none;
  color: black;
  &:hover {
    color: #087df9;
  }
}

.nav__item a {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:hover::after {
    position: absolute;
    left: 43px;
    display: block;
    content: "";
    width: 64%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    bottom: -39px;
  }
}

.navigation--right {
  @include flex-just-align(flex, center, space-around);
  gap: 10px;
}

.address__right-email {
  text-decoration: none;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
  display: flex;
  align-items: center;
  gap: 6px;
  &:hover {
    color: #087df9;
    fill: #087df9;
  }
}

.address__right-number {
  text-decoration: none;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
  display: flex;
  align-items: center;
  gap: 8px;
  &:hover {
    color: #087df9;
    fill: #087df9;
  }
}

.mel {
  width: 15px;
  height: 15px;
  &:hover {
    fill: #087df9;
  }
}

.tep {
  width: 17px;
  height: 15px;
  &:hover {
    fill: #087df9;
  }
}

.main__buttons {
  @include flex-just-align(flex, center, center);
  margin-top: 94px;
  gap: 10px;
}

@keyframes slidenGradient {
  15% {
    background: #2196f3;
  }
  35% {
    background: #2164f3;
  }
  55% {
    background: #2835f1;
  }
  75% {
    background: #4121f3;
  }
  100% {
    background: #7c21f3;
  }
}

.main__buton {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3%;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
  &:hover {
    border-radius: 4px;
    background: #2196f3;
    border: none;
    animation: slidenGradient 3s both;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.main-web {
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.main-web__card {
  margin: 0 0 32px 0;
  &:hover {
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.photo {
  width: 360px;
  height: 284px;
}

.main-web__card-photo_text {
  position: relative;
}

.main-web__card-hiden-text {
  position: absolute;
  color: #fff;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  top: 48%;
  left: 50%;
  width: 364px;
  height: 294px;
  @include flex-just-align(flex, center, center);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translate(-50%, -50%) translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  color: white;
}

.main-web__card-hiden-text p {
  white-space: pre;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.main-web__card-photo_text:hover .main-web__card-hiden-text {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}

.main-web__card-title {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.main-web__card-text {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.box-text {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer {
  @include flex-just-align(flex, center, center);
  background: #2f303a;
  padding: 60px 0;
  gap: 67px;
}

.footer__content {
  @include flex-just-align(flex, center, center);
  background: #2f303a;
  gap: 67px;
}

.footer__text--white {
  @extend %foot-text;
  color: #fff;
}

.footer__text--gray {
  @extend %foot-text;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__societal {
  @include flex-just-align(flex, center, center);
  gap: 5px;
}

.footer__subscription-content {
  @include flex-just-align(flex, center, center);
  gap: 10px;
}

.footer__subscription-title {
  margin-bottom: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.socia {
  fill: rgba(255, 255, 255, 0.1);
  &:hover {
    fill: #087df9;
  }
}

.social {
  transition: transform 0.6s linear;
  &:hover {
    transform: scale(1.1);
  }
}

.col_f {
  fill: white;
}

.footer__subscription-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  @include flex-just-align(flex, center, space-evenly);
  border: none;
  &:hover {
    animation: slideGradient 5s linear both;
  }
}

@keyframes slideGradient {
  25% {
    background: #ff0000;
  }
  50% {
    background: #ff7f00;
  }
  75% {
    background: #ffff00;
  }
  80% {
    background: #00ff00;
  }
  90% {
    background: #0000ff;
  }
  100% {
    background: #4b0082;
  }
}

@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navigation--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item a {
    &:hover::after {
      bottom: -55px;
    }
  }
  .main-web {
    justify-content: flex-start;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__social,
  .footer__subscription,
  .footer__subscription-content {
    @include flex-just-align(flex, center, center);
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .container {
    width: 450px;
  }
  .nav__list,
  .navigation--right {
    display: none;
  }
  .main__title {
    font-size: 26px;
    line-height: 42px;
  }
  .main__buton {
    padding: 10px 24px;
  }
  .main__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
  }
}
